{
	"ghOrganizationName": "acme",
	"ghProjectNumber": 1,
    "repoName": "lorem-ipsum",
    "startStatus": "development",
    "pathToRepo": "./",
    "etaTransformer": {
        "endOfTheDay": true
    }
}