{
  "github": {
    "organizationName": "acme",
    "projectNumber": 1
  },
  "eta": {
    "enabled": true,
    "transformToEndOfTheDay": true
  },
  "startDate": {
    "enabled": true,
    "status": "development"
  },
  "dateFormatter": {
    "locale": "en"
  }
}